.content-wrapper{

    padding-top: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b4b4b4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-form{

    margin: 7px!important;
}

.mg-top-34{

    margin-top: 34px!important;
}

select.form-control  {

    margin-top: 14px!important;
}

select[readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}

.clickable{

    cursor: pointer;
}

div label input {
    margin-right:100px;
 }
 body {
     font-family:sans-serif;
 }
 
 .ck-button {
     margin:4px;
     background-color:#EFEFEF;
     border-radius:4px;
     border:1px solid #D0D0D0;
     overflow:auto;
     float:left;
     width: 100%;
 }
 
 .ck-button:hover {
     background:#4f5863;
     color:#fff;
 }
 
 .ck-button label {
     float:left;
     width: 100%;
 }
 
 .ck-button label span {
     text-align:center;
     padding:3px 0px;
     display:block;
 }
 
 .ck-button label input {
     position:absolute;
     top:-20px;
 }
 
 .ck-button input:checked + span {
     background-color:#8897ab;
     color:#fff;
 }

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  textarea[disabled], 
  textarea[disabled]::placeholder, 
  textarea.form-control[disabled], 
  textarea.form-control[disabled]::placeholder, 
  input.form-control[disabled], 
  input.form-control[disabled]::placeholder, 
  input[type=text][disabled], 
  input[type=text][disabled]::placeholder, 
  input[type=password][disabled], 
  input[type=password][disabled]::placeholder, 
  input[type=email][disabled], 
  input[type=email][disabled]::placeholder, 
  input[type=number][disabled], 
  input[type=number][disabled]::placeholder, 
  [type=text].form-control[disabled], 
  [type=text].form-control[disabled]::placeholder, 
  [type=password].form-control[disabled], 
  [type=password].form-control[disabled]::placeholder, 
  [type=email].form-control[disabled], 
  [type=email].form-control[disabled]::placeholder, 
  [type=tel].form-control[disabled], 
  [type=tel].form-control[disabled]::placeholder, 
  [contenteditable].form-control[disabled], 
  [contenteditable].form-control[disabled]::placeholder{
    color: #666!important;
  }

@media screen and (max-width : 1025px)
{
    .dataTable{
        font-size: 11px!important;
    }

    .chkSelect{
      margin-left: 5px!important;
    }

    .col-lg-3{
      flex: 0 0 42%!important;
      max-width: 42%!important;
    }

    .card-login{
      margin-right: 10px!important;
    }
}

table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 5px!important;
  border-bottom: 1px solid #111;
}

.card {
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 25px;
}

#btnShowFiltro{
  width: 50px !important;
}
